body{
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

#expert-table {
    width: 40%;
}
select {
    /* styling */
    background-color: #181c22;
    border: white;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.4em;
    padding: 0.05em 0.8em 0.05em 0.2em;
    color: lightgrey;
    font-size: 15px;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.classic {
    background-image:
            linear-gradient(45deg, transparent 50%, blue 50%),
            linear-gradient(135deg, blue 50%, transparent 50%),
            linear-gradient(to right, #23282e, #23282e);
    background-position:
            calc(100% - 18px) calc(1em - 5px),
            calc(100% - 10px) calc(1em - 5px),
            100% 0;
    background-size:
            8px 8px,
            8px 8px,
            2em 2em;
    background-repeat: no-repeat;
}


.expert1 {
    position: absolute;
    bottom: 295px;
    left: 320px;
}

.expert2 {
    position: absolute;
    bottom: 50px;
    left: 320px;
}

button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}

h1{
    background: url(/assets/logo.png) no-repeat center;
    margin-bottom: 0;
    text-indent: -10000px;
}

.bottom-block {
    position: absolute;
    bottom: 220px;
    left: 100px;
    background-color: #181c22;
    color: lightgrey;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
}

.bottom-block2 {
    position: absolute;
    bottom: 507px;
    left: 240px;
    background-color: #181c22;
    color: lightgrey;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 15px;
}


.image1 {
    position: absolute;
    bottom: 250px;
    left: 100px;
}

.patient-section {
    position: relative;
    text-align: center;
    color: white;
}

.image2 {
    position: absolute;
    bottom: 340px;
    left: 330px;
}

.image3 {
    position: absolute;
    bottom: 110px;
    left: 350px;
}

.image4 {
    position: absolute;
    bottom: 350px;
    right: 540px;
}

.image5 {
    position: absolute;
    bottom: 100px;
    right: 530px;
}

.image6 {
    position: absolute;
    bottom: 230px;
    right: 300px;
}

.arrow1 {
    position: absolute;
    bottom: 330px;
    left: 210px;
}

.arrow2 {
    position: absolute;
    bottom: 150px;
    left: 210px;
}

.arrow3 {
    position: absolute;
    bottom: 380px;
    left: 460px;
}

.arrow4 {
    position: absolute;
    bottom: 150px;
    left: 460px;
}

.arrow5 {
    position: absolute;
    bottom: 330px;
    right: 400px;
}

.arrow6 {
    position: absolute;
    bottom: 150px;
    right: 400px;
}


.rotateimgneg30 {
    -webkit-transform:rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.rotateimg30 {
    -webkit-transform:rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

#slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 18%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
    bottom: 443px;
    left: -310px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.min {
    position: absolute;
    bottom: 490px;
    left: 325px;
}


.max {
    position: absolute;
    bottom: 490px;
    left: 424px;
}

.demo1 {
    position: absolute;
    bottom: 345px;
    left: -170px;
    color: lightgrey;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
}

.demo2 {
    position: absolute;
    bottom: 115px;
    left: -170px;
    color: lightgrey;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
}



#input-probability {
    width: 50%;
}
input[type="text"]{
    width: 12%;
    padding: 8px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 10px;
    color: #989898;
}

input[type="submit"]{
    padding: 8px;
    width: 10%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
}

.input {
    position: absolute;
    width: 650px;
    bottom: 50px;
    left: 630px;
}


.p1 {
    position: absolute;
    width: 650px;
    bottom: 250px;
    left: 70px;
}

.p2 {
    position: absolute;
    width: 650px;
    bottom: 10px;
    left: 70px;
}

.sub {
    position: absolute;
    width: 650px;
    bottom: 120px;
    left: 280px;
}

.result1 {
    position: absolute;
    width: 650px;
    bottom: 50px;
    left: 280px;
}

.result2 {
    position: absolute;
    width: 650px;
    bottom: 180px;
    left: 400px;
}

.smile {
    position: absolute;
    bottom: 160px;
    left: 420px;
}

.conf1 {
    position: absolute;
    bottom: 245px;
    left: -60px;
    color: lightgrey;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
}

.conf2 {
    position: absolute;
    bottom: 6px;
    left: -60px;
    color: lightgrey;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
}